###############################################################################
###
### Options Configuration File for Subversion Server Repository Hooks
### -----------------------------------------------------------------
###
### $URL$
### $Rev$
###
### Copyright © 2010 Rob Hubbard.
###
### This file forms part of Rob Hubbard's Subversion Configuration Suite
### (the "Software").
###
### Permission is hereby granted, free of charge, to any person obtaining a
### copy of the Software and associated documentation files, to deal in the
### Software without restriction, including without limitation the rights to
### use, copy, modify, merge, publish, and/or distribute (free of charge)
### copies of the Software, and to permit persons to whom the Software is
### furnished to do so, subject to the following conditions:
###
### The above copyright notice and this permission notice shall be included in
### all copies or substantial portions of the Software. For clarity, the above
### copyright notice and this permission notice do not apply to any software
### developed using but not incorporating the Software.
###
### The Software is provided "as is", without warranty of any kind, express or
### implied, including but not limited to the warranties of merchantability,
### fitness for a particular purpose and noninfringement. In no event shall the
### authors or copyright holders be liable for any claim, damages or other
### liability, whether in an action of contract, tort or otherwise, arising
### from, out of or in connection with the Software or the use or other
### dealings in the Software. 
###
### "Copyleft; All wrongs reversed."
###
###############################################################################

### Options for all hooks.

### This file may exist in <./hooks/hook_config>
### of either the repository or the <_common_> area.
### The former takes precedence.

###############################################################################

### SYNTAX

### To indicate a section (for a hook):
### enclose the hook base-name in [square brackets]

### Within a section, the options are listed with their values as
###   option_name = value
###   $option_name = value; # comments allowed here

### Comment lines have a hash (#) as the first non-whitespace character.

###############################################################################

[start-commit]

	### Options

		#disable_all_commits = 0

	### Variables

[pre-commit]

	### Options

		#check_message_nonempty = 1
		#check_author_and_date_present = 1
		#enable_path_checks = 1
		#enable_property_checks = 1
		#enable_line_checks = 1
		#prevent_double_copying = 1
		#enable_tag_protection = 1
		#prevent_copy_from_tag = 1
		### per-user, per-directory access_control is achieved via ../conf/authz

	### Variables

		#tagarea = "_tags"

[post-commit]

	### Options

		#check_message_nonempty = 1
		#create_revision_dump = 1

	### Not Yet Implemented
	
		#send_email = 0 ### not implemented

	### Variables

[pre-revprop-change]

	### Options

		### prefer not to have script than set this to 0
		#allow_property_changes = 0

		#allow_only_log_modification = 1
		#backup_values = 1

	### Variables

[post-revprop-change]

	### Options

		#create_revision_dump = 1

	### Variables

[pre-lock]

[post-lock]

[pre-unlock]

[post-unlock]
